<footer>
    <div class="f-info bg-body-tertiary">

        <div class="f-info-details">
            <div class="f-info-legal">
                &copy; 2026 AirBNB, Inc.

            </div>

            <div class="f-info-links">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Company Details</a>
            </div>

        </div>

        <div class="f-info-gap">
        </div>

        <div class="f-info-social">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>

        </div>
    </div>
</footer>